<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-2x fa-bars toggle-menu"></span>
  </button>
  <a class="navbar-brand" href="#">
      <a href="/"><img src="/images/plugmobile.png" height="auto" alt=""></a>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/" id="inicio" class="nav-link menu">Inicio</a>
      </li>
      <li class="nav-item">
        <a href="/plugsales#oquee" id="o-que-e-plugsales" class="nav-link menu">Por dentro do PlugSales</a>
      </li>
      <li class="nav-item">
        <a href="/plugsales#integracoes" id="integracoes" class="nav-link menu">Integrações</a>
      </li>
      <li class="nav-item">
        <a href="/plugsales#orcamento" id="orcamento" class="nav-link menu">Solicite um orçamento</a>
      </li>
      <li class="nav-item">
        <a href="/plugsales#outrosplugs" id="outrosplugs" class="nav-link menu">Outros Plugs</a>
      </li>
      <li class="nav-item">
        <a href="https://admin.plugmobile.com.br/" id="logar" target="new_blank" class="nav-link menu">Logar</a>
      </li>
    </ul>
  </div>
</nav>

<section class="section hero-sales" lazy-load>
  <div class="titulo">
    <img class="img-fluid mx-auto d-block" src="/images/sales/logo.png" alt="">
    <p>Obrigado! Em breve, entraremos em contato. <br>Enquanto isso, conheça nossos canais!</p>
    <a class="botao fundo-transparente" id="conheca-blogmobile-sales" href="http://tsdn.tecnospeed.com.br/blog/blogmobile">BlogMobile</a>
    <a class="botao fundo-transparente" id="conheca-facebook-sales" href="https://www.facebook.com/PlugMobileOficial/">Facebook</a>
  </div>
</section>