<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js" integrity="sha256-yazfaIh2SXu8rPenyD2f36pKgrkv5XT+DQCDpZ/eDao=" crossorigin="anonymous"></script> -->
<!-- <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script> -->
<script type="text/javascript">
 new RDStationForms('plugmobile-plugdash-aa0410da59cbef21ac16-html', 'UA-54505819-1').createForm();
</script>
<script type="text/javascript" src="/vendors/owl-carousel/owl.carousel.min.js"></script>

<script src="/libs/scrollify.js"></script>

<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-2x fa-bars toggle-menu"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/images/plugmobile.png" height="auto" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/" id="inicio" class="nav-link menu">Inicio</a>
      </li>
      <li class="nav-item">
        <a href="#pordentro" id="o-que-e-plugdash" class="nav-link menu">Por dentro do PlugDash</a>
      </li>
      <li class="nav-item">
        <a href="#plugs" id="integracoes" class="nav-link menu">Integrações</a>
      </li>
      <li class="nav-item">
        <a href="#orcamento" id="solicite-um-orcamento" class="nav-link menu">Solicite um orçamento</a>
      </li>
      <li class="nav-item">
        <a href="#outrosplugs" id="outros-plugs" class="nav-link menu">Outros Plugs</a>
      </li>
      <li class="nav-item">
        <a href="https://admin.plugmobile.com.br/" id="logar" target="new_blank" class="nav-link menu">Logar</a>
      </li>
    </ul>
  </div>
</nav>

<section class="section hero">
  <div class="titulo">
    <!-- <h3>Ta afim de curtir uma série no fim de semana?</h3> -->
    <img class="img-fluid mx-auto d-block" src="/images/dash/logo.png" alt="">
    <p>Ofereça ao seu cliente um dashboard mobile inteligente, bonito, fácil de integrar e usar. Com o PlugDash, seu cliente
      visualiza os gráficos, números, e indicadores estratégicos mais importantes pra ele, atualizados em tempo real.</p>
    <div class="botoes">
      <a class="botao fundo-transparente" id="conheca-plugdash" href="#pordentro">Conheça</a>
      <a class="botao fundo-branco" id="solicite-uma-demonstracao" style="color: #189bde !important;" href="#orcamento">Solicite uma Demonstração</a>
    </div>
  </div>
</section>

<section id="pordentro" class="section info">
  <div class="block">
    <img class="img-fluid mx-auto d-block lista" src="/images/dash/phone-estoque.png" alt="">
    <div class="text-left">
      <h1 style="width: 60%;">Lindo, inteligente e modesto</h1>
      <p>Usuários de software
        <i>adoram</i> relatórios, não é mesmo? Principalmente quando são relatórios bonitos, bem estruturados e recheados de
        gráficos com diferentes formatos, contendo as informações que ele mais precisa para tomar decisões e administrar
        o próprio negócio.</p>
      <p>Leve as informações do seu software até o celular do usuário, e as apresenta em forma de gráficos inteligentes, intuitivos
        e com visual moderno.</p>
    </div>
  </div>
</section>


<section class="section info mobile-2">
  <div class="block">
    <img class="img-fluid mx-auto d-block lista" src="/images/dash/phone-comercial.png" alt="">
    <div class="text-left">
      <h1>Ao gosto do freguês</h1>
      <p>Você escolhe a aparência, o formato e a disposição dos gráficos na tela do PlugDash, e determina quais parâmetros e
        variáveis ele deve apresentar. Também fica livre para distribuir os gráficos em diversas abas.</p>
      <p>Assim, você pode personalizar o aplicativo de acordo com as necessidades e preferências do seu cliente, dando destaque
        às informações mais importantes pra ele.</p>
    </div>
  </div>
</section>

<section class="section info desktop-2">
  <div class="block">
    <div class="text-left">
      <h1>Ao gosto do freguês</h1>
      <p>Você escolhe a aparência, o formato e a disposição dos gráficos na tela do PlugDash, e determina quais parâmetros e
        variáveis ele deve apresentar. Também fica livre para distribuir os gráficos em diversas abas.</p>
      <p>Assim, você pode personalizar o aplicativo de acordo com as necessidades e preferências do seu cliente, dando destaque
        às informações mais importantes pra ele.</p>
    </div>
    <img class="img-fluid mx-auto d-block lista" src="/images/dash/phone-comercial.png" alt="">
  </div>
</section>


<section class="section cliente">
  <div class="cliente-informacao text-left">
    <h1>Tudo sob controle!</h1>
    <p>Independente do formato de integração escolhido, as informações são transmitidas do seu sistema para a nuvem, e da nuvem
      para o PlugDash. Esse processo é muito rápido, o que resulta num dashboard alimentado em tempo real.</p>
    <p>Pela tela do celular, seu cliente pode acompanhar tudo que acontece na empresa dele, de onde ele estiver.</p>
  </div>
</section>


<section class="section info mobile-3">
  <div class="block">
    <img class="img-fluid mx-auto d-block lista" src="/images/dash/sua-marca.png" alt="">
    <div class="text-left">
      <h1>Shh, não espalha!</h1>
      <p>O PlugDash é um aplicativo totalmente white label, isto é, não possui referências visuais à marca PlugMobile visíveis
        ao usuário. Na verdade, seu cliente não precisa nem saber que a gente existe!</p>
      <p>Durante a integração, você personaliza o ícone e o nome do aplicativo, coloca sua logotipo na tela inicial e escolhe
        esquemas de cores que combinem com sua marca.</p>
    </div>
  </div>
</section>

<section class="section info desktop-3">
  <div class="block text-left">
    <div style="margin-top: 15%;">
      <h1>Shh, não espalha!</h1>
      <p>O PlugDash é um aplicativo totalmente white label, isto é, não possui referências visuais à marca PlugMobile visíveis
        ao usuário. Na verdade, seu cliente não precisa nem saber que a gente existe!</p>
      <p>Durante a integração, você personaliza o ícone e o nome do aplicativo, coloca sua logotipo na tela inicial e escolhe
        esquemas de cores que combinem com sua marca.</p>
    </div>
    <img class="img-fluid mx-auto d-block lista" src="/images/dash/sua-marca.png" alt="">
  </div>
</section>

<section id="plugs" class="section integrando">
  <div class="titulo">
    <h1>INTEGRANDO COM O SEU SOFTWARE</h1>
    <p>Existem três formas de integrar o seu software ao PlugDash. É você quem decide qual utilizar. Independente da sua escolha,
      você terá nossa equipe ao seu lado durante todo o processo (que pode ser feito em apenas 4 horas!). Veja as opções:</p>
  </div>
  <div class="integracoes">
    <div class="item">
      <div class="block">
        <img class="img-fluid mx-auto d-block" src="/images/dash/icon-db.png" alt="">
        <div class="texto-item text-left">
          <h1>Conexão ao Banco de Dados</h1>
          <p>Este método é o mais simples: o PlugDash envia e recebe dados do
            <i>PlugBot</i>, um aplicativo desktop integrador que coleta e insere os dados diretamente no seu banco. A integração
            pode ser alterada a qualquer momento, trocando o nome de tabelas e campos.</p>
        </div>
      </div>
    </div>
    <!-- <div class="item">
      <div class="block">
        <img class="img-fluid mx-auto d-block" src="/images/dash/icon-api.png" alt="">
        <div class="texto-item text-left">
          <h1>API</h1>
          <p>Se o seu sistema disponibiliza uma API, esse método também é rápido e fácil. Aqui, os dados do PlugDash são transmitidos,
            através do PlugDash, para as rotas da API do sistema. As rotas, bem como os parâmetros, são configuráveis e
            podem ser alterados a qualquer momento.</p>
        </div>
      </div>
    </div> -->
    <div class="item">
      <div class="block">
        <img class="img-fluid mx-auto d-block" src="/images/dash/icon-txt.png" alt="">
        <div class="texto-item text-left">
          <h1>Arquivos de texto</h1>
          <p>Se o seu software não dispõe de uma API e não pode abrir conexão direta ao banco de dados, é possível integrar
            através de arquivos de texto. O PlugDash busca e gera dados em uma pasta do seu sistema. A partir daí, seu software
            deve ler estes arquivos e realizar importações.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="orcamento" class="section integrando fundo-azul" style="position: relative;">
  <div class="titulo">
    <h2>Gostou? Venha conhecer!</h2>
    <p>Se você ficou com alguma dúvida, deseja uma apresentação técnica ou um orçamento, preencha o formulário abaixo, e nós
      entraremos em contato!</p>

    <div class="botoes-conheca">
      <!-- <div id="contato-plugmobile-5befb2a592bcd4b8b10c"></div> -->
      <div id="plugmobile-plugdash-aa0410da59cbef21ac16"></div>
    </div>
  </div>
</section>

<section class="section info image-over">
  <div class="block">
    <div class="over-left" style="margin-top: 0; padding-left: 229px;">
      <h1>Baixe a Demonstração no seu celular</h1>
      <div class="flex-row">
        <a href="https://play.google.com/store/apps/details?id=br.com.plugmobile.plugdash&hl=pt_BR" target="_blank"><img class="img-fluid mx-auto d-block store" src="/images/dash/googleplay.png" alt=""></a>
      </div>
      <small>Requer Android 4.2 ou superior</small>
    </div>
    <img class="img-fluid mx-auto d-block right" src="/images/dash/phone-financeiro.png" alt="">
  </div>
</section>


<section id="outrosplugs" class="section outros-plugs">
  <div class="section_title">
    <h1>Outros plugs</h1>
  </div>
  <div class="plugs-main">
    <div class="plugs text-center">
      <img class="img-responsive" src="/images/dash/foods.png" alt="">
      <p>Aplicativo de comanda eletrônica para food service. Integrado ao seu software, o pedido é enviado em tempo real, da
        mesa para a cozinha, proporcionando um atendimento.</p>
      <a class="botao fundo-transparente cinza" id="conheca-plugfoods" href="/plugfoods">Conheça</a>
    </div>
    <div class="plugs text-center">
      <img class="img-responsive" src="/images/dash/sales.png" alt="">
      <p>Aplicativo de comanda eletrônica para food service. Integrado ao seu software, o pedido é enviado em tempo real, da
        mesa para a cozinha, proporcionando um atendimento.</p>
      <a class="botao fundo-transparente cinza" id="conheca-plugsales" href="#">Em breve</a>
    </div>
  </div>
</section>

<footer>
  <div class="footer">
    <div class="coluna">
      <div class="col-md-12">
        <img src="/images/plugmobile.png" alt="" class="float-left">
      </div>
      <div class="col-md-12 footer-nav">
        <ul>
          <li>
            <a href="/" id="inicio" class="menu">Inicio</a>
          </li>
          <li>
            <a href="#pordentro" id="o-que-e-plugdash" class="menu">Por dentro do PlugDash</a>
          </li>
          <li>
            <a href="#integracoes" id="integracoes" class="menu">Integrações</a>
          </li>
          <li>
            <a href="#orcamento" id="orcamento" class="menu">Solicite um orçamento</a>
          </li>
          <li>
            <a href="#outrosplugs" id="outrosplugs" class="menu">Outros Plugs</a>
          </li>
          <li>
            <a href="https://admin.plugmobile.com.br/" id="logar" target="new_blank" class="menu">Logar</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 social">
        <ul class="nav social_icon row m0">
          <li>
            <a href="https://www.facebook.com/tecnospeed" target="new_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li style="margin-left: 5%;">
            <a href="https://www.linkedin.com/company/tecnospeed-ti" target="new_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="coluna">
      <div class="col-md-12">
        <div class="widget_inner row m0">
          <ul class="tweets">
            <li>
              <h4 class="widget_title">Email</h4>
              <a href="#">
                <i class="fa fa-envelope-o"></i>
              </a>
              <div class="tweets-text">
                contato@tecnospeed.com.br
              </div>
            </li>
            <li>
              <h4 class="widget_title">Fone</h4>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-phone"></i>
              </a>
              <div class="tweets-text">0800 006 9500</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="coluna imagens-face">
      <div class="col-md-12">
        <div class="fb-page" data-href="https://www.facebook.com/plugmobileoficial/" data-tabs="timeline" data-small-header="false"
          data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/plugmobileoficial/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/plugmobileoficial/">PlugMobile</a>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  $(function () {
    $('a[href^="#"]').on('click', function (event) {
  
        var target = $(this.getAttribute('href'));
  
        if (target.length) {
            event.preventDefault();
            $('html, body').stop().animate({
                scrollTop: target.offset().top
            }, 1000);
        }
    })  
  })
</script>