<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js" integrity="sha256-yazfaIh2SXu8rPenyD2f36pKgrkv5XT+DQCDpZ/eDao=" crossorigin="anonymous"></script> -->
<!-- <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script> -->
<script type="text/javascript">
 new RDStationForms('contato-plugfoods-2a8eac802506ecf8f6bd-html', 'UA-54505819-1').createForm();
</script>
<script type="text/javascript" src="/vendors/owl-carousel/owl.carousel.min.js"></script>

<script src="/libs/scrollify.js"></script>

<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-2x fa-bars toggle-menu"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/images/plugmobile.png" height="auto" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/" id="inicio" class="nav-link menu">Inicio</a>
      </li>
      <li class="nav-item">
        <a href="#oquee" id="o-que-e-plugfoods" class="nav-link menu">Por dentro do PlugFoods</a>
      </li>
      <li class="nav-item">
        <a href="#integracoes" id="integracoes-nav" class="nav-link menu">Integrações</a>
      </li>
      <li class="nav-item">
        <a href="#orcamento" id="orcamento-nav" class="nav-link menu">Solicite um orçamento</a>
      </li>
      <li class="nav-item">
        <a href="#outrosplugs" id="outrosplugs-nav" class="nav-link menu">Outros Plugs</a>
      </li>
      <li class="nav-item">
        <a href="https://admin.plugmobile.com.br/" id="logar" target="new_blank" class="nav-link menu">Logar</a>
      </li>
    </ul>
  </div>
</nav>

<section class="section hero-foods" lazy-load>
  <div class="titulo">
    <img class="img-fluid mx-auto d-block" src="/images/foods/logo.png" alt="">
    <p>Troque a comanda de papel dos seus clientes por um aplicativo mobile rápido e intuitivo. Mais agilidade, mais segurança,
      mais cliente satisfeito!</p>
    <div class="botoes">
      <a class="botao fundo-transparente" id="conheca-plugfoods" href="#pordentro">Conheça</a>
      <a class="botao fundo-branco" id="solicite-uma-demonstracao" style="color: #FAAB5E !important" href="#orcamento">Solicite uma Demonstração</a>
    </div>
  </div>
</section>

<section id="oquee" class="section info">
  <div class="block-foods">
    <img class="img-fluid mx-auto d-block lista" src="/images/foods/1.png" alt="">
    <div>
      <h1 style="width: 60%;">Entrega rápida, cliente satisfeito</h1>
      <p>Com um celular ou tablet, o garçom anota os pedidos e o PlugFoods imediatamente envia a informação para o seu software
        desktop. A equipe recebe o pedido, sem que o garçom precise voltar para o balcão ou para a cozinha. Com isso, ele
        pode atender outra mesa, e o pedido fica pronto em menos tempo!</p>
    </div>
  </div>
</section>


<section class="section info mobile-2">
  <div class="block-foods">
    <img class="img-fluid mx-auto d-block lista" src="/images/foods/2.png" alt="">
    <div>
      <h1>Tudo em ordem</h1>
      <p>Organize os produtos do estabelecimento por categoria, agilizando ainda mais a anotação dos pedidos. As categorias
        são facilmente personalizáveis, de acordo com o segmento do cliente. Além das categorias, é possível encontrar os
        produtos pesquisando pelo nome.</p>
    </div>
  </div>
</section>

<section class="section info desktop-2">
  <div class="block-foods">
    <div>
      <h1>Tudo em ordem</h1>
      <p>Organize os produtos do estabelecimento por categoria, agilizando ainda mais a anotação dos pedidos. As categorias
        são facilmente personalizáveis, de acordo com o segmento do cliente. Além das categorias, é possível encontrar os
        produtos pesquisando pelo nome.</p>
    </div>
    <img class="img-fluid mx-auto d-block lista" src="/images/foods/2.png" alt="">
  </div>
</section>


<section class="section cliente-foods">
  <div class="cliente-informacao">
    <h1>Garçom, traz a saideira!</h1>
    <p>A qualquer momento, o garçom pode digitar o número da mesa ou do cartão para visualizar tudo que já foi pedido por aqueles
      clientes. Na mesma tela, ele pode solicitar o fechamento da conta, enviando essa informação para o software desktop,
      que inicia o processo de faturamento. Débito ou crédito?</p>
  </div>
</section>


<section class="section info mobile-3">
  <div class="block-foods">
    <img class="img-fluid mx-auto d-block lista" src="/images/foods/4.png" alt="">
    <div>
      <h1>Açúcar ou adoçante?</h1>
      <p>Assim como seu sistema desktop, o PlugFoods também permite anotar exceções nos produtos, como: suco sem açúcar, sanduíche
        sem cebola, ou pizza com o dobro de queijo. Essas informações também serão enviadas para o seu software. Pois é,
        o garçom realmente não precisa voltar para a cozinha após fazer um pedido.</p>
    </div>
  </div>
</section>

<section class="section info desktop-3">
  <div class="block-foods">
    <div style="margin-top: 20%;">
      <h1>Açúcar ou adoçante?</h1>
      <p>Assim como seu sistema desktop, o PlugFoods também permite anotar exceções nos produtos, como: suco sem açúcar, sanduíche
        sem cebola, ou pizza com o dobro de queijo. Essas informações também serão enviadas para o seu software. Pois é,
        o garçom realmente não precisa voltar para a cozinha após fazer um pedido.</p>
    </div>
    <img class="img-fluid mx-auto d-block lista" src="/images/foods/4.png" alt="">
  </div>
</section>

<section id="integracoes" class="section integrando">
  <div class="titulo">
    <h1>Integrando com o seu software</h1>
    <p>Existem três formas de integrar o seu software ao PlugFoods. É você quem decide qual utilizar. Independente da sua escolha,
      você terá nossa equipe ao seu lado durante todo o processo (que pode ser feito em apenas 4 horas!). Veja as opções:</p>
  </div>
  <div class="integracoes">
    <div class="item">
      <div class="block-foods">
        <img class="img-fluid mx-auto d-block" src="/images/foods/db.png" alt="">
        <div class="texto-item">
          <h1>Conexão ao Banco de Dados</h1>
          <p>Este método é o mais simples: o PlugFoods envia e recebe dados do
            <i>PlugBot</i>, um aplicativo desktop integrador que coleta e insere os dados diretamente no seu banco. A integração
            pode ser alterada a qualquer momento, trocando o nome de tabelas e campos.</p>
        </div>
      </div>
    </div>
    <!-- <div class="item">
      <div class="block-foods">
        <img class="img-fluid mx-auto d-block" src="/images/foods/api.png" alt="">
        <div class="texto-item">
          <h1>API</h1>
          <p>Se o seu sistema disponibiliza uma API, esse método também é rápido e fácil. Aqui, os dados do PlugFoods são transmitidos,
            através do PlugFoods, para as rotas da API do sistema. As rotas, bem como os parâmetros, são configuráveis e
            podem ser alterados a qualquer momento.</p>
        </div>
      </div>
    </div> -->
    <div class="item">
      <div class="block-foods">
        <img class="img-fluid mx-auto d-block" src="/images/foods/txt.png" alt="">
        <div class="texto-item">
          <h1>Arquivos de texto</h1>
          <p>Se o seu software não dispõe de uma API e não pode abrir conexão direta ao banco de dados, é possível integrar
            através de arquivos de texto. O PlugFoods busca e gera dados em uma pasta do seu sistema. A partir daí, seu software
            deve ler estes arquivos e realizar importações.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="orcamento" class="section integrando fundo-foods" style="position: relative;">
  <div class="titulo">
    <h2>Gostou? Venha conhecer!</h2>
    <p>Se você ficou com alguma dúvida, deseja uma apresentação técnica ou um orçamento, preencha o formulário abaixo, e nós
      entraremos em contato!</p>

    <div class="botoes-conheca">
      <!-- <div id="contato-plugmobile-5befb2a592bcd4b8b10c"></div> -->
      <div id="contato-plugfoods-2a8eac802506ecf8f6bd"></div>
    </div>
  </div>
</section>

<section class="section info image-over">
  <div class="block-foods">
    <div class="over-left">
      <h1>Baixe a Demonstração no seu celular</h1>
      <div class="flex-row">
        <a href="https://play.google.com/store/apps/details?id=br.com.plugmobile.plugfoods" target="_blank"><img class="img-fluid mx-auto d-block store" src="/images/dash/googleplay.png" alt=""></a>
      </div>
      <small>Requer Android 4.2 ou superior</small>
    </div>
    <img class="img-fluid mx-auto d-block right" src="/images/foods/phone.png" alt="">
  </div>
</section>


<section id="outrosplugs" class="section outros-plugs-dash">
  <div class="integre">
    <div class="titulo">
      <a href="/plugdash" target="new_blank">
        <img src="/images/foods/logo-dash.png" alt="" class="img-fluid">
      </a>
    </div>
    <div class="conteudo">
      <div class="item">
        <h1>Comanda eletrônica para o garçom, Business Inteligence para o empresário.</h1>
      </div>
      <div class="item">
        <p>Integre seu PlugFoods com uma dashboard inteligente, sincronizado com seu software. Seu cliente visualiza os gráficos
          e números mais importantes do próprio negócio, em tempo real.</p>
        <a href="/plugdash" target="new_blank">
          <img class="float-left" id="conheca-plugdash" src="/images/foods/conheca.png" alt="">
        </a>
      </div>
    </div>
  </div>
</section>



<footer>
  <div class="footer">
    <div class="coluna">
      <div class="col-md-12">
        <img src="/images/plugmobile.png" alt="" class="float-left">
      </div>
      <div class="col-md-12 footer-nav">
        <ul>
          <li>
            <a href="/" id="inicio" class="menu">Inicio</a>
          </li>
          <li>
            <a href="#pordentro" id="o-que-e-plugfoods" class="menu">Por dentro do PlugFoods</a>
          </li>
          <li>
            <a href="#integracoes" id="integracoes" class="menu">Integrações</a>
          </li>
          <li>
            <a href="#orcamento" id="orcamento" class="menu">Solicite um orçamento</a>
          </li>
          <li>
            <a href="#outrosplugs" id="outrosplugs" class="menu">Outros Plugs</a>
          </li>
          <li>
            <a href="https://admin.plugmobile.com.br/" id="logar" target="new_blank" class="menu">Logar</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 social">
        <ul class="nav social_icon row m0">
          <li>
            <a href="https://www.facebook.com/tecnospeed" target="new_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li style="margin-left: 5%;">
            <a href="https://www.linkedin.com/company/tecnospeed-ti" target="new_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="coluna">
      <div class="col-md-12">
        <div class="widget_inner row m0">
          <ul class="tweets">
            <li>
              <h4 class="widget_title">Email</h4>
              <a href="#">
                <i class="fa fa-envelope-o"></i>
              </a>
              <div class="tweets-text">
                contato@tecnospeed.com.br
              </div>
            </li>
            <li>
              <h4 class="widget_title">Fone</h4>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-phone"></i>
              </a>
              <div class="tweets-text">0800 006 9500</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="coluna imagens-face">
      <div class="col-md-12">
        <div class="fb-page" data-href="https://www.facebook.com/plugmobileoficial/" data-tabs="timeline" data-small-header="false"
          data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/plugmobileoficial/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/plugmobileoficial/">PlugMobile</a>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  $(function () {
    $('a[href^="#"]').on('click', function (event) {
  
        var target = $(this.getAttribute('href'));
  
        if (target.length) {
            event.preventDefault();
            $('html, body').stop().animate({
                scrollTop: target.offset().top
            }, 1000);
        }
    })  
  })
</script>