<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js" integrity="sha256-yazfaIh2SXu8rPenyD2f36pKgrkv5XT+DQCDpZ/eDao=" crossorigin="anonymous"></script> -->
<!-- <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script> -->
<script type="text/javascript">
  new RDStationForms('contato-plugmobile-5befb2a592bcd4b8b10c-html', 'UA-54505819-1').createForm();
</script>
<script type="text/javascript" src="/vendors/owl-carousel/owl.carousel.min.js"></script>

<script src="/libs/scrollify.js"></script>


<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-2x fa-bars toggle-menu"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/images/plugmobile.png" height="auto" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/" id="inicio" class="nav-link menu">Inicio</a>
      </li>
      <li class="nav-item">
        <a href="#oquee" id="o-que-e" class="nav-link menu">O que é?</a>
      </li>
      <li class="nav-item">
        <a href="#plugs" id="produtos" class="nav-link menu">Produtos</a>
      </li>
      <li class="nav-item">
        <a href="#cases" id="cases-de-sucesso" class="nav-link menu">Cases de Sucesso</a>
      </li>
      <li class="nav-item">
        <a href="#news" id="newsletter" class="nav-link menu">Newsletter</a>
      </li>
      <li class="nav-item">
        <a href="#blog" id="blog-nav" class="nav-link menu">Blog</a>
      </li>
      <li class="nav-item">
        <a href="https://admin.plugmobile.com.br/" id="logar" target="new_blank" class="nav-link menu">Logar</a>
      </li>
    </ul>
  </div>
</nav>

<section class="section hero-principal">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xl-7 col-header-text lr-padding">
        <h1 class="left-align">Do desktop ao celular.
          <br>
          <span>Sem programar</span>
        </h1>
        <p class="left-align">Não importa a linguagem de programação do seu software. Nós podemos torná-lo mobile.
          <br>E o melhor: você não precisa implementar nada.</p>
        <div class="left-align botoes-principal">
          <a class="botao fundo-transparente" id="conheca-todos-produtos" href="#oquee">Conheça</a>
          <a class="botao fundo-branco" style="color: #E0716A !important;" id="solicite-uma-demonstracao" href="#news">Solicite uma Demonstração</a>
        </div>
      </div>
      <div class="col-sm-5 col-md-offset-2 col-md-3 col-header-img right-padding">
        <div class="phone-gif">
          <img src="/images/lazy-images/header.gif" alt="header-img" class="img-header-lg img-blur" id="header-gif" lazy-load>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="oquee" class="section sec-features" id="features">
  <div class="container">
    <div class="section_title">
      <h2>O que é o PlugMobile?</h2>
      <p>O PlugMobile é uma suite de aplicativos mobile, com interface rápida, bonita e intuitiva, que você pode integrar ao
        seu software desktop para oferecer ao usuário uma incrível experiência mobile.</p>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-10 col-sm-offset-1 container-acting">
        <div class="row">
          <div class="col-sm-6 col-lg-3 sec_features_item feat-top-left star-item">
            <i class="icon-star icon"></i>
            <h5 class="title">
              <strong>Compatível</strong>
            </h5>
            <p style="color: #C8C8C8;">Não importa a linguagem de programação do seu software: o PlugMobile é compatível com todas!</p>
          </div>
          <div class="col-sm-6 col-lg-3 sec_features_item feat-top-right celular-item">
            <i class="icon-celular icon"></i>
            <h5 class="title">
              <strong>Fácil</strong>
            </h5>
            <p style="color: #C8C8C8;">Seu sistema envia informações para o Plug via API, arquivos de texto ou conexão direta com seu banco de dados.
              Você escolhe.</p>
          </div>
          <div class="col-sm-6 col-lg-3 sec_features_item feat-bottom-left guy-item">
            <i class="icon-guy icon"></i>
            <h5 class="title">
              <strong>Atraente</strong>
            </h5>
            <p style="color: #C8C8C8;">Os aplicativos PlugMobile foram desenvolvidos para serem extremamente rápidos, bonitos e fáceis de usar. Do jeito
              que o usuário gosta!</p>
          </div>
          <div class="col-sm-6 col-lg-3 sec_features_item feat-bottom-right your-item">
            <i class="icon-your icon"></i>
            <h5 class="title">
              <strong>Todo seu</strong>
            </h5>
            <p style="color: #C8C8C8;">Todos os plugs são
              <i>white-label</i>, isto é, carregam a
              <strong>sua marca</strong>. Personalize o nome do app, o ícone, a página inicial, e até a apresentação dele na AppStore
              e no Google Play.</p>
          </div>
        </div>
        <img class="img-blur feature-gif img-fluid mx-auto d-block" src="/images/lazy-images/header-gif.gif" alt="featured" id="oquee-gif"
          lazy-load>
      </div>
    </div>
  </div>
</section>

<section id="plugs" class="section plugs">
  <div class="titulo">
    <h2>Escolha seu plug</h2>
  </div>
  <div class="todos-plugs">
    <div class="item">
      <img class="img-fluid logo-plugs" src="/images/plug-dash.png" alt="">
      <p>Dashboard que fornece os indicadores mais importantes para o cliente.</p>
      <a class="botao fundo-transparente cinza" id="conheca-plugdash" href="/plugdash#">Conheça</a>
    </div>
    <div class="item">
      <img class="img-fluid logo-plugs" src="/images/plug-foods.png" alt="">
      <p>Comanda eletrônica para food service. Filtra produtos, envia pedidos e fecha a conta.</p>
      <a class="botao fundo-transparente cinza" id="conheca-plugfoods" href="/plugfoods#">Conheça</a>
    </div>
    <div class="item">
      <img class="img-fluid logo-plugs" src="/images/plug-sales.png" alt="">
      <p>Gerador de pedidos comerciais, ideal para apoio à força de vendas externas.</p>
      <a class="botao fundo-transparente cinza" id="conheca-plugsales" href="/plugsales" ng-disabled="true">Conheça</a>
    </div>
    <div class="item">
      <img class="img-fluid logo-plugs" src="/images/plug-forms.png" alt="">
      <p>Criação e gestão de formulários dinâmicos para qualquer objetivo que seu cliente desejar.</p>
      <a class="botao fundo-transparente cinza" id="conheca-plugforms" href="#" ng-disabled="true">Em breve</a>
    </div>
  </div>
</section>


<section class="section testimonial_area_three sec-pad" id="cases">
  <div id="owl-demo" class="owl-carousel owl-theme">
    <div class="item">
      <div class="partner-icon">
        <img class="img-fluid mx-auto d-block" src="/images/plugmobile/empresas/maqplan.png" alt="">
      </div>
      <p class="partner-text">
        <i>"Nós da Maqplan de Brasília-DF estamos realizando a integração de nosso sistema de Ponto de Venda com o PlugDash
          desde o início desse projeto. Ficamos impressionados com a
          <strong>facilidade</strong> e
          <strong>velocidade</strong> com que conseguimos integrar nossas ferramentas."</i>
      </p>
      <div class="partner-guy">
        <p>- Thiago Lima -</p>
        <p class="partner-job">
          <i>Analista de sistemas</i>
        </p>
      </div>
    </div>
    <div class="item">
      <div class="partner-icon">
        <img class="img-fluid mx-auto d-block" src="/images/plugmobile/empresas/maqplan.png" alt="">
      </div>
      <p class="partner-text">
        <i>"Nós da Maqplan de Brasília-DF estamos realizando a integração de nosso sistema de Ponto de Venda com o PlugDash
          desde o início desse projeto. Ficamos impressionados com a
          <strong>facilidade</strong> e
          <strong>velocidade</strong> com que conseguimos integrar nossas ferramentas."</i>
      </p>
      <div class="partner-guy">
        <p>- Thiago Lima -</p>
        <p class="partner-job">
          <i>Analista de sistemas</i>
        </p>
      </div>
    </div>
    <div class="item">
      <div class="partner-icon">
        <img class="img-fluid mx-auto d-block" src="/images/plugmobile/empresas/maqplan.png" alt="">
      </div>
      <p class="partner-text">
        <i>"Nós da Maqplan de Brasília-DF estamos realizando a integração de nosso sistema de Ponto de Venda com o PlugDash
          desde o início desse projeto. Ficamos impressionados com a
          <strong>facilidade</strong> e
          <strong>velocidade</strong> com que conseguimos integrar nossas ferramentas."</i>
      </p>
      <div class="partner-guy">
        <p>- Thiago Lima -</p>
        <p class="partner-job">
          <i>Analista de sistemas</i>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section news" id="news">
  <div class="titulo">
    <h2>Gostou? Venha conhecer!</h2>
    <p>Se você ficou com alguma dúvida, deseja uma apresentação técnica ou um orçamento, preencha o formulário abaixo, e nós
      entraremos em contato!</p>

    <div class="botoes-conheca">
      <!-- <div id="contato-plugmobile-5befb2a592bcd4b8b10c"></div> -->
      <div id="contato-plugmobile-5befb2a592bcd4b8b10c"></div>
    </div>
  </div>
</section>


<section id="blog" class="scroll blog_area">
  <div class="container">
    <div class="section_title blog_text">
      <h2>Fique por dentro</h2>
      <p>Veja as publicações mais recentes do blog do PlugMobile</p>
    </div>
    <div class="noticias">
      <div ng-repeat="noticia in noticias" class="noticia">
        <img class="img-fluid" src="{{noticia.img}}" alt="">
        <div class="data">
          <p>{{noticia.data}}</p>
        </div>
        <div class="conteudo">
          <a href="{{noticia.url}}" target="new_blank">
            <h1>{{noticia.titulo}}</h1>
            <p>{{noticia.conteudo}}</p>
          </a>
        </div>
        <div class="more">
          <a href="{{noticia.url}}" target="new_blank">Leia mais
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="footer">
    <div class="coluna">
      <div class="col-md-12">
        <img src="/images/plugmobile.png" alt="" class="float-left">
      </div>
      <div class="col-md-12 footer-nav">
        <ul>
          <li>
            <a href="/" id="inicio" class="menu">Inicio</a>
          </li>
          <li>
            <a href="#oquee" id="o-que-e" class="menu">O que é?</a>
          </li>
          <li>
            <a href="#plugs" id="produtos" class="menu">Produtos</a>
          </li>
          <li>
            <a href="#cases" id="cases-de-sucesso" class="menu">Cases de Sucesso</a>
          </li>
          <li>
            <a href="#news" id="newsletter" class="menu">Newsletter</a>
          </li>
          <li>
            <a href="#blog" id="blog" class="menu">Blog</a>
          </li>
          <li>
            <a href="https://admin.plugmobile.com.br/" id="logar" target="new_blank" class="menu">Logar</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 social">
        <ul class="nav social_icon row m0">
          <li>
            <a href="https://www.facebook.com/tecnospeed" target="new_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li style="margin-left: 5%;">
            <a href="https://www.linkedin.com/company/tecnospeed-ti" target="new_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="coluna">
      <div class="col-md-12">
        <div class="widget_inner row m0">
          <ul class="tweets">
            <li>
              <h4 class="widget_title">Email</h4>
              <a href="#">
                <i class="fa fa-envelope-o"></i>
              </a>
              <div class="tweets-text">
                contato@tecnospeed.com.br
              </div>
            </li>
            <li>
              <h4 class="widget_title">Fone</h4>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-phone"></i>
              </a>
              <div class="tweets-text">0800 006 9500</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="coluna imagens-face">
      <div class="col-md-12">
        <div class="fb-page" data-href="https://www.facebook.com/plugmobileoficial/" data-tabs="timeline" data-small-header="false"
          data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/plugmobileoficial/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/plugmobileoficial/">PlugMobile</a>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>

<script>
  // $(document).ready(function () {

  //   $("#owl-demo").owlCarousel({

  //     navigation: true, // Show next and prev buttons
  //     slideSpeed: 300,
  //     paginationSpeed: 400,
  //     singleItem: true

  //     // "singleItem:true" is a shortcut for:
  //     // items : 1, 
  //     // itemsDesktop : false,
  //     // itemsDesktopSmall : false,
  //     // itemsTablet: false,
  //     // itemsMobile : false

  //   });

  // })
  $('.owl-carousel').owlCarousel({
    stagePadding: 50,
    loop: true,
    margin: 60,
    nav: false,
    dots: true,
    center: true,
    responsive: {
      0: {
        items: 1
      }
    }
  })
</script>