<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js" integrity="sha256-yazfaIh2SXu8rPenyD2f36pKgrkv5XT+DQCDpZ/eDao=" crossorigin="anonymous"></script> -->
<!-- <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script> -->
<script type="text/javascript">
  new RDStationForms('contato-sales-38ef25ae8f4707dfa40a-html', 'UA-54505819-1').createForm();
 </script>
 <script type="text/javascript" src="/vendors/owl-carousel/owl.carousel.min.js"></script>
 
 <script src="/libs/scrollify.js"></script>
 
 <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
   <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="fa fa-2x fa-bars toggle-menu"></span>
   </button>
   <a class="navbar-brand" href="#">
     <img src="/images/plugmobile.png" height="auto" alt="">
   </a>
 
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item">
         <a href="/" id="inicio" class="nav-link menu">Inicio</a>
       </li>
       <li class="nav-item">
         <a href="#oquee" id="o-que-e-plugsales" class="nav-link menu">Por dentro do Plugsales</a>
       </li>
       <li class="nav-item">
         <a href="#integracoes" id="integracoes-nav" class="nav-link menu">Integrações</a>
       </li>
       <li class="nav-item">
         <a href="#orcamento" id="orcamento-nav" class="nav-link menu">Solicite um orçamento</a>
       </li>
       <li class="nav-item">
         <a href="#outrosplugs" id="outrosplugs-nav" class="nav-link menu">Outros Plugs</a>
       </li>
       <li class="nav-item">
         <a href="https://admin.plugmobile.com.br/" id="logar" target="new_blank" class="nav-link menu">Logar</a>
       </li>
     </ul>
   </div>
 </nav>
 
 <section class="section hero-sales" lazy-load>
   <div class="titulo">
     <img class="img-fluid mx-auto d-block" src="/images/sales/logo.png" alt="">
     <p>Aumente a eficiência e diminua a burocracia da força de vendas externas do seu cliente. Integre seu software a um aplicativo gerador de pedidos rápido, bonito e sincronizado em tempo real.</p>
     <div class="botoes">
       <a class="botao fundo-transparente" id="conheca-plugsales" href="#oquee">Conheça</a>
       <a class="botao fundo-branco" id="solicite-uma-demonstracao" style="color: #81D990 !important" href="#orcamento">Solicite uma Demonstração</a>
     </div>
   </div>
 </section>
 
 <section id="oquee" class="section info">
   <div class="block-sales">
     <img class="img-fluid mx-auto d-block lista" src="/images/sales/1.png" alt="">
     <div>
       <h1 style="width: 60%;">Cinco toques, uma venda</h1>
       <p>Com apenas cinco toques na tela do celular, o vendedor gera um pedido e o envia para o seu software. De qualquer lugar, a qualquer hora.</p>
     </div>
   </div>
 </section>
 
 
 <section class="section info mobile-2">
   <div class="block-sales">
     <img class="img-fluid mx-auto d-block lista" src="/images/sales/2.png" alt="">
     <div>
       <h1>Aproveite seus cadastros</h1>
       <p>Uma vez integrado ao seu software, o PlugSales coleta informações dos clientes e produtos cadastrados em seu banco de dados. Sempre que ocorrem novos registros ou alterações em registros existentes, o PlugSales é atualizado em tempo real.</p>
     </div>
   </div>
 </section>
 
 <section class="section info desktop-2">
   <div class="block-sales">
     <div>
       <h1>Aproveite seus cadastros</h1>
       <p>Uma vez integrado ao seu software, o PlugSales coleta informações dos clientes e produtos cadastrados em seu banco de dados. Sempre que ocorrem novos registros ou alterações em registros existentes, o PlugSales é atualizado em tempo real.</p>
     </div>
     <img class="img-fluid mx-auto d-block lista" src="/images/sales/2.png" alt="">
   </div>
 </section>
 
 
 <section class="section cliente-sales">
   <div class="cliente-informacao">
     <h1>Quem quer dinheiro?!</h1>
     <p>Nada deixa um vendedor mais empolgado do que ver os resultados do seu trabalho. No PlugSales, o representante comercial acompanha todas as comissões referentes aos pedidos que ele fez, já calculadas e somadas.</p>
   </div>
 </section>
 
 
 <section class="section info mobile-3">
   <div class="block-sales">
     <img class="img-fluid mx-auto d-block lista" src="/images/sales/4.png" alt="">
     <div>
       <h1>Todo seu!</h1>
       <p>O PlugSales é um aplicativo totalmente white label, isto é, não possui referências visuais à marca PlugMobile visíveis ao usuário. Na verdade, seu cliente não precisa nem saber que a gente existe!</p>
       <p>Durante a integração, você personaliza o ícone e o nome do aplicativo, coloca sua logotipo na tela inicial e escolhe esquemas de cores que combinem com sua marca.</p>
     </div>
   </div>
 </section>
 
 <section class="section info desktop-3">
   <div class="block-sales">
     <div style="margin-top: 20%;">
       <h1>Todo seu!</h1>
       <p>O PlugSales é um aplicativo totalmente white label, isto é, não possui referências visuais à marca PlugMobile visíveis ao usuário. Na verdade, seu cliente não precisa nem saber que a gente existe!</p>
       <p>Durante a integração, você personaliza o ícone e o nome do aplicativo, coloca sua logotipo na tela inicial e escolhe esquemas de cores que combinem com sua marca.</p>
     </div>
     <img class="img-fluid mx-auto d-block lista" src="/images/sales/4.png" alt="">
   </div>
 </section>
 
 <section id="integracoes" class="section integrando">
   <div class="titulo">
     <h1>Integrando com o seu software</h1>
     <p>Existem três formas de integrar o seu software ao Plugsales. É você quem decide qual utilizar. Independente da sua escolha,
       você terá nossa equipe ao seu lado durante todo o processo (que pode ser feito em apenas 4 horas!). Veja as opções:</p>
   </div>
   <div class="integracoes">
     <div class="item">
       <div class="block-sales">
         <img class="img-fluid mx-auto d-block" src="/images/sales/db.png" alt="">
         <div class="texto-item">
           <h1>Conexão ao Banco de Dados</h1>
           <p>Este método é o mais simples: o Plugsales envia e recebe dados do
             <i>PlugBot</i>, um aplicativo desktop integrador que coleta e insere os dados diretamente no seu banco. A integração
             pode ser alterada a qualquer momento, trocando o nome de tabelas e campos.</p>
         </div>
       </div>
     </div>
     <!-- <div class="item">
       <div class="block-sales">
         <img class="img-fluid mx-auto d-block" src="/images/sales/api.png" alt="">
         <div class="texto-item">
           <h1>API</h1>
           <p>Se o seu sistema disponibiliza uma API, esse método também é rápido e fácil. Aqui, os dados do Plugsales são transmitidos,
             através do Plugsales, para as rotas da API do sistema. As rotas, bem como os parâmetros, são configuráveis e
             podem ser alterados a qualquer momento.</p>
         </div>
       </div>
     </div> -->
     <div class="item">
       <div class="block-sales">
         <img class="img-fluid mx-auto d-block" src="/images/sales/txt.png" alt="">
         <div class="texto-item">
           <h1>Arquivos de texto</h1>
           <p>Se o seu software não dispõe de uma API e não pode abrir conexão direta ao banco de dados, é possível integrar
             através de arquivos de texto. O Plugsales busca e gera dados em uma pasta do seu sistema. A partir daí, seu software
             deve ler estes arquivos e realizar importações.</p>
         </div>
       </div>
     </div>
   </div>
 </section>
 
 
 <section id="orcamento" class="section integrando fundo-sales" style="position: relative;">
   <div class="titulo">
     <h2>Gostou? Venha conhecer!</h2>
     <p>Se você ficou com alguma dúvida, deseja uma apresentação técnica ou um orçamento, preencha o formulário abaixo, e nós
       entraremos em contato!</p>
 
     <div class="botoes-conheca">
       <!-- <div id="contato-plugmobile-5befb2a592bcd4b8b10c"></div> -->
       <!-- <div id="contato-plugsales-2a8eac802506ecf8f6bd"></div> -->
       <div id="contato-sales-38ef25ae8f4707dfa40a"></div>
     </div>
   </div>
 </section>
 
 <section class="section info image-over">
   <div class="block-sales">
     <div class="over-left">
       <h1>Baixe a Demonstração no seu celular</h1>
       <div class="flex-row">
         <a href="https://play.google.com/store/apps/details?id=br.com.plugmobile.plugsales" target="_blank"><img class="img-fluid mx-auto d-block store" src="/images/sales/google-play.png" alt=""></a>
       </div>
       <small>Requer Android 4.2 ou superior</small>
       <!-- <div class="flex-row">
         <a href="https://play.google.com/store/apps/details?id=br.com.plugmobile.plugsales" target="_blank"><img class="img-fluid mx-auto d-block store" src="/images/sales/app-store.png" alt=""></a>
       </div> -->
     </div>
     <img class="img-fluid mx-auto d-block right" src="/images/sales/phone.png" alt="">
   </div>
 </section>
 
 
 <section id="outrosplugs" class="section outros-plugs-dash-sales">
   <div class="integre">
     <div class="titulo">
       <a href="/plugdash" target="new_blank">
         <img src="/images/sales/logo-dash.png" alt="" class="img-fluid">
       </a>
     </div>
     <div class="conteudo">
       <div class="item">
         <h1>Gerador de pedidos para o vendedor, Business Inteligence para o empresário.</h1>
       </div>
       <div class="item">
         <p>Integre seu Plugsales com uma dashboard inteligente, sincronizado com seu software. Seu cliente visualiza os gráficos
           e números mais importantes do próprio negócio, em tempo real.</p>
         <a href="/plugdash" target="new_blank">
           <img class="float-left" id="conheca-plugdash" src="/images/sales/conheca.png" alt="">
         </a>
       </div>
     </div>
   </div>
 </section>
 
 
 
 <footer>
   <div class="footer">
     <div class="coluna">
       <div class="col-md-12">
         <img src="/images/plugmobile.png" alt="" class="float-left">
       </div>
       <div class="col-md-12 footer-nav">
         <ul>
           <li>
             <a href="/" id="inicio" class="menu">Inicio</a>
           </li>
           <li>
             <a href="#pordentro" id="o-que-e-plugsales" class="menu">Por dentro do Plugsales</a>
           </li>
           <li>
             <a href="#integracoes" id="integracoes" class="menu">Integrações</a>
           </li>
           <li>
             <a href="#orcamento" id="orcamento" class="menu">Solicite um orçamento</a>
           </li>
           <li>
             <a href="#outrosplugs" id="outrosplugs" class="menu">Outros Plugs</a>
           </li>
           <li>
             <a href="https://admin.plugmobile.com.br/" id="logar" target="new_blank" class="menu">Logar</a>
           </li>
         </ul>
       </div>
       <div class="col-md-12 social">
         <ul class="nav social_icon row m0">
           <li>
             <a href="https://www.facebook.com/tecnospeed" target="new_blank">
               <i class="fa fa-facebook"></i>
             </a>
           </li>
           <li style="margin-left: 5%;">
             <a href="https://www.linkedin.com/company/tecnospeed-ti" target="new_blank">
               <i class="fa fa-linkedin"></i>
             </a>
           </li>
         </ul>
       </div>
     </div>
     <div class="coluna">
       <div class="col-md-12">
         <div class="widget_inner row m0">
           <ul class="tweets">
             <li>
               <h4 class="widget_title">Email</h4>
               <a href="#">
                 <i class="fa fa-envelope-o"></i>
               </a>
               <div class="tweets-text">
                 contato@tecnospeed.com.br
               </div>
             </li>
             <li>
               <h4 class="widget_title">Fone</h4>
             </li>
             <li>
               <a href="#">
                 <i class="fa fa-phone"></i>
               </a>
               <div class="tweets-text">0800 006 9500</div>
             </li>
           </ul>
         </div>
       </div>
     </div>
     <div class="coluna imagens-face">
       <div class="col-md-12">
         <div class="fb-page" data-href="https://www.facebook.com/plugmobileoficial/" data-tabs="timeline" data-small-header="false"
           data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
           <blockquote cite="https://www.facebook.com/plugmobileoficial/" class="fb-xfbml-parse-ignore">
             <a href="https://www.facebook.com/plugmobileoficial/">PlugMobile</a>
           </blockquote>
         </div>
       </div>
     </div>
   </div>
 </footer>
 
 <script>
   $(function () {
     $('a[href^="#"]').on('click', function (event) {
   
         var target = $(this.getAttribute('href'));
   
         if (target.length) {
             event.preventDefault();
             $('html, body').stop().animate({
                 scrollTop: target.offset().top
             }, 1000);
         }
     })  
   })
 </script>