@media (max-width:600px) {
  .section {
    padding: 80px 30px
  }
}

@media (min-width:1001px) and (max-width:1500px) {
  header {
    padding: 18px 120px 0 !important
  }
  .navbar {
    position: absolute;
    z-index: 30;
    width: 100%;
    padding: 20px 112px;
  }
}

@media (max-width:700px) {
  header {
    flex-direction: column
  }
  header h2 {
    margin-bottom: 15px
  }
  header img {
    width: 250px;
    margin-bottom: 10%
  }
  header .menu {
    font-size: 17px
  }
}

@media (min-width:1001px) and (max-width:1500px) {
  .hero-principal {
    min-height: 120vh
  }
}

@media (min-width:1001px) and (max-width:1500px) {
  .col-header-img img.img-header-lg {
    left: 0;
    top: -30px;
    z-index: 20
  }
  .phone-gif img {
    width: 200%
  }
}

@media (min-width:992px) {
  .sec-features .container-acting {
    margin-left: 0;
    margin-bottom: 30px
  }
  .sec-features .container-acting .sec_features_item {
    position: absolute;
    float: none
  }
  .sec-features .container-acting .sec_features_item:nth-child(1) {
    top: 95px;
    left: -1px
  }
  .sec-features .container-acting .sec_features_item:nth-child(2) {
    top: -2px;
    right: 6px
  }
  .sec-features .container-acting .sec_features_item:nth-child(3) {
    bottom: -35px;
    left: 42px
  }
  .sec-features .container-acting .sec_features_item:nth-child(4) {
    bottom: 70px;
    right: 33px
  }
}

@media (min-width:1001px) and (max-width:1500px) {
  .todos-plugs .item p {
    font: 400 14px/28px "GothamRnd-Book";
    margin-top: 10%;
    text-align: left;
    color: #c8c8c8;
    margin-bottom: 10%
  }
}

@media (min-width:1001px) and (max-width:1500px) {
  .testimonial_area_three {
    height: auto
  }
}

@media (max-width: 700px) {
  .main-nav ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .main-nav ul a {
    position: absolute;
    left: -99999em;
  }
  .main-nav ul.open li {
    width: 100%;
  }
  .main-nav ul.open li.mobile-button a {
    background: #fbf78d;
    color: #0e3447;
  }
  .main-nav ul.open a {
    position: static;
  }
  .main-nav ul .mobile-button a {
    position: static;
  }
  .main-nav a {
    width: 100%;
  }
}

@media (max-width:1000px) {
  .todos-plugs {
    flex-wrap: wrap
  }
  .todos-plugs .item {
    flex: 1 0 33%
  }
  .todos-plugs .item p {
    font-family: "GothamRnd-Book", sans-serif;
    font-size: 22px;
    line-height: 35px
  }
  .logo-plugs {
    width: 80%
  }
  .partner-icon img {
    width: 50% !important
  }
  .partner-guy,
  .partner-job,
  .partner-text {
    font-size: 22px;
    width: 100%
  }
  .noticias {
    display: flex;
    flex-wrap: wrap
  }
  .noticias .noticia {
    flex: 1 1 300px
  }
  .noticia img {
    width: 100%;
    height: auto
  }
  .noticia .data {
    position: relative;
    top: 0
  }
  .noticia .data p {
    text-align: left;
    font-size: 18px
  }
  .noticia .conteudo,
  .noticia .more {
    position: absolute;
    top: 35%
  }
  .noticia .more {
    top: 54%
  }
  .noticia .conteudo p {
    max-width: 300px
  }
  .noticia:last-child .conteudo {
    position: absolute;
    top: 87%
  }
  .noticia:last-child .more {
    position: absolute;
    top: 96%
  }
  .section {
    padding: 100px 0px;
  }
  header {
    flex-direction: column;
    margin-bottom: 10px;
    padding: 40px 50px
  }
  header img {
    width: 250px;
    margin-bottom: 10%
  }
  header .menu {
    font-size: 17px
  }
  .col-header-img img {
    display: none
  }
  .botoes,
  .col-header-text {
    text-align: center !important
  }
  .col-header-text p {
    font-size: 15px;
    line-height: 24px;
  }
  .botoes a {
    margin: 30px
  }
  .col-header-text h3 {
    font-size: 3em;
  }
  .feature-gif {
    display: none !important
  }
  .sec_features_item p,
  .section_title p {
    font-size: 20px;
    line-height: 35px
  }
  .section_title p {
    width: 100%;
    margin-bottom: 10%
  }
  .navbar-collapse {
    background: #fff;
  }
  .section h3.title,
  .section p {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .botoes-principal a {
    margin-top: 30px;
  }
  .navbar {
    position: absolute;
    z-index: 30;
    width: 100%;
    padding: 10px 0px;
  }
  .navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
  }
  .toggle-menu {
    color: white !important;
  }
  .navbar-light .navbar-brand,
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .9);
    margin-left: 20px;
  }
  .collapse.show {
    display: block;
    padding: 10px 30px 0px 20px;
  }
  .nav-link {
    color: #df6e66 !important;
  }
  #oquee .sec_features_item {
    margin-top: 40px;
  }
  .plugs {
    margin: auto;
    background-color: #f8f8f8;
  }
  .testimonial_area_three {
    position: relative;
    background: url(../images/plugmobile/depoimentos.png);
    height: 150vh;
    background-size: cover;
    z-index: 0;
  }
  .depoimentos {
    max-width: 50% !important;
  }
  .footer .tweets li {
    line-height: 20px !important;
  }
  .titulo img {
    padding: 10px;
  }
  .hero .titulo p {
    margin: 4% auto 0;
  }
  .botoes a {
    margin: 10px;
  }
  .block {
    display: block;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
  }
  .cliente {
    background: #189BDE;
  }
  .cliente-informacao {
    width: 100% !important;
  }
  .cliente-informacao h3 {
    text-align: center !important;
    font-size: 30px;
  }
  .cliente-informacao p {
    text-align: center !important;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    line-height: 2;
  }
  .image-over .right {
    display: none !important;
  }
  .over-left {
    padding-left: 0px !important;
  }
  .image-over .over-left h1 {
    width: 100% !important;
    text-align: center;
    margin: 0;
  }
  .image-over .block {
    display: block;
    align-items: flex-start;
    width: 100%;
  }
  .image-over .flex-row img {
    margin-top: 5%;
    width: 72%;
  }
  .plugs-main {
    margin: 0 auto !important;
    display: block;
    flex-direction: row;
  }
  .plugs {
    margin: auto;
    background-color: #f8f8f8;
    margin-top: 5%;
  }
  .fundo-azul p,
  .fundo-foods p {
    color: #fff !important;
    width: 100%;
  }
  .integrando .titulo h3 {
    font-family: "GothamRnd-Book", sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 18px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .integrando .titulo p {
    font: 400 16px/34px "GothamRnd-Book";
    margin-bottom: 10%;
    width: 90%;
    text-align: left;
  }
  .integrando .integracoes .item {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    margin: 0px;
  }
  .hero-foods .titulo p {
    font-size: 15px;
    line-height: 34px;
  }
  .block-foods {
    display: block;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
  }
  .block-foods p {
    line-height: 30px;
    font-size: 16px;
    text-align: left !important;
  }
  .cliente-foods {
    background: #EC8E62 !important;
  }
  .cliente-informacao {
    width: 90% !important;
    margin: 0 auto;
  }
  .integre .conteudo,
  .integre .titulo {
    display: block;
    justify-content: center;
  }
  .integre .titulo img {
    width: 90%;
    padding: 0;
  }
  .outros-plugs-dash {
    background: #178ECB;
  }
  .integre .conteudo .item {
    height: auto !important;
    width: 90% !important;
    margin: 0 auto;
    /* margin: 30px; */
  }
  .integre .conteudo .item h3 {
    text-align: left;
    font-size: 30px;
    line-height: 40px;
  }
  .coluna {
    /* margin: 100px; */
    margin: 0px !important;
    margin-top: 20px !important;
    margin-bottom: 80px !important;
    /* margin-left: 30px; */
    /* margin-right: 10px; */
  }
  .desktop-2,
  .desktop-3 {
    display: none;
  }
  .mobile-2,
  .mobile-3 {
    display: block;
  }
}