@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700);
@font-face{
    font-family:"GothamRnd-Book";
    font-style:normal;
    font-weight:400;
    src:local("GothamRnd-Book"),url(../fonts/gotham/GothamRnd-Book.otf) format("opentype")
}
@font-face{
    font-family:"GothamRnd-Medium";
    font-style:normal;
    font-weight:400;
    src:local("GothamRnd-Medium"),url(../fonts/gotham/GothamRnd-Medium.otf) format("opentype")
}
@font-face{
    font-family:"GothamRnd-Bold";
    font-style:normal;
    font-weight:400;
    src:local("GothamRnd-Bold"),url(../fonts/gotham/GothamRnd-Bold.otf) format("opentype")
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
html{
    font:16px "GothamRnd-Book",sans-serif;
    color:#555
}
nav,ul{
    list-style:none
}
a{
    text-decoration:none!important;
    color:inherit;
    cursor:pointer
}
p{
    font-size:14px
}
hr{
    width:150px;
    height:2px;
    background-color:#2196f3;
    border:0;
    margin-bottom:80px
}
.section,header{
    align-items:center
}
.section{
    flex-direction:column;
    padding:130px 0
}
@media (max-width:1000px){
    .section{
        padding:100px 50px
    }
}
@media (max-width:600px){
    .section{
        padding:80px 30px
    }
}
.section h3.title,.section p{
    text-align:center;
    margin-bottom:35px
}
.section h3.title{
    color:#414a4f;
    text-transform:capitalize;
    font:700 32px "GothamRnd-Bold",sans-serif
}
.section p{
    max-width:800px;
    line-height:2
}
.text-left p{
    text-align:left!important
}
ul.grid{
    width:100%;
    flex-wrap:wrap;
    justify-content:center
}
ul.grid p{
    color:#fff!important;
    text-transform:uppercase;
    font-size:50px
}
header{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width:100%;
    justify-content:space-between;
    color:#fff;
    padding:20px 400px 0
}
a,header h2,p,ul.grid p{
    font-family:"GothamRnd-Book",sans-serif
}
.section,header,header nav,ul.grid{
    display:flex
}
header nav li{
    margin:0 15px
}
header nav li:first-child{
    margin-left:0
}
header nav li:last-child{
    margin-right:0
}
@media (max-width:1000px){
    header{
        flex-direction:column;
        margin-bottom:10px;
        padding:40px 50px
    }
    header img{
        width:250px;
        margin-bottom:10%
    }
    header .menu{
        font-size:17px
    }
}
@media (max-width:700px){
    header{
        flex-direction:column
    }
    header h2{
        margin-bottom:15px
    }
    header img{
        width:250px;
        margin-bottom:10%
    }
    header .menu{
        font-size:17px
    }
}
.hero{
    position:relative;
    justify-content:center;
    min-height:100vh;
    color:#fff;
    text-align:center;
    background:url(../images/dash/header.png);
    background-size:cover;
    display:flex;
    align-items:center;
    flex-direction:row
}
.botoes,.hero .titulo{
    align-self:center
}
.hero .titulo p{
    margin:4% auto 0;
    width:90%
}
.botoes{
    margin-top:4%
}
.botoes a{
    margin-left:30px
}
.hero h3,.hero p{
    margin-bottom:15px
}
.hero h3{
    text-align:center;
    font:700 60px "GothamRnd-Bold",sans-serif
}
.hero .titulo p,.hero p{
    font:15px "GothamRnd-Book",sans-serif;
    line-height:34px
}
.hero a.btn{
    padding:20px 46px
}
@media (max-width:800px){
    .hero{
        min-height:600px
    }
    .hero h1{
        font-size:48px
    }
    .hero h3{
        font-size:24px
    }
    .hero a.btn{
        padding:15px 40px
    }
}
.block{
    display:flex;
    align-items:flex-start;
    width:70%
}
.block>.image{
    margin:0 1rem 0 0
}
.block>div{
    flex:1;
    margin-top:5%
}
.block h1{
    color:#999;
    font-size:37px;
    font-weight:900;
    margin-bottom:30px;
    line-height:1.1
}
.block h1,.block p,.cliente-informacao p{
    font-family:"GothamRnd-Book",sans-serif;
    text-align:left
}
.block p{
    color:#c8c8c8;
    margin-bottom:20px!important;
    line-height:32px;
    font-size:16px
}
@media (max-width:1000px){
    .block{
        display:block
    }
    .block h3{
        width:100%!important
    }
}
.cliente{
    position:relative;
    background:url(../images/dash/hand-phone.png);
    background-size:cover;
    min-height:74vh;
    display:flex;
    align-items:flex-end
}
.cliente>.cliente-informacao{
    margin-top:2%;
    width:45%;
    height:50%;
    margin-left:auto
}
.cliente-informacao h1,.integrando .titulo h2,.integrando .titulo h1{
    font-family:"GothamRnd-Medium"
}
.cliente,.integrando .titulo h2{
    color:#fff;
    margin-bottom: 5%;
}
.cliente-informacao p{
    margin-top:2%;
    font-size:15px;
    width:60%
}
@media (max-width:1000px){
    .cliente{
        min-height:600px;
        background-position:40%
    }
    .cliente-informacao{
        width:40%!important
    }
    .cliente-informacao p{
        margin-top:20px;
        width:100%
    }
}
.integrando{
    display:flex;
    align-items:center;
    flex-direction:column;
    text-align:center
}
.integrando .titulo{
    align-self:center
}
.integrando .titulo h1{
    font-size:34px;
    line-height:45px;
    color:#999;
    text-transform:uppercase;
    padding-bottom:25px
}
.integrando .titulo p{
    font:400 16px/28px "GothamRnd-Book";
    color:#c8c8c8;
    margin:0 auto
}
.integrando .integracoes,.integrando .integracoes .item{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center
}
.integrando .integracoes{
    max-width:65%
}
.integrando .integracoes .item{
    display:-webkit-flex;
    -webkit-flex-direction:row;
    -webkit-align-items:center;
    -webkit-justify-content:center;
    margin:30px
}
.integrando .integracoes .item img{
    width:25%
}
.integrando .integracoes .item h1{
    font-size:17px!important
}
.integrando .integracoes .item .texto-item{
    margin:10px
}
@media (max-width:1000px){
    .integrando .integracoes{
        display:block
    }
    .integrando .integracoes .item h1,.integrando .integracoes .item p{
        text-align:center
    }
    .integrando .integracoes .item{
        margin-top:50px
    }
}
.fundo-azul{
    background-color:#189bde!important
}
.fundo-azul h3,.fundo-azul p{
    color:#fff!important
}
.fundo-azul p{
    width:70%
}
.subcribes-dash.input-group{
    max-width:630px;
    display:block;
    overflow:hidden;
    margin:30px auto 0
}
.subcribes-dash.input-group .form-control{
    color:#fff!important;
    background:0 0;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-color:#fff;
    height:60px;
    border-radius:50px;
    width:100%;
    display:block;
    padding-left:30px;
    z-index:0
}
.subcribes-dash.input-group .form-control::placeholder{
    color:#fff
}
.subcribes-dash .input-group-btn .btn-submit{
    font:700 16px/32px "GothamRnd-Book";
    text-transform:uppercase;
    padding:14px 57px;
    border:80px;
    position:absolute;
    color:#189bde;
    top:0;
    right:0;
    border-color:#fff;
    border-radius:50px;
    background:#fff;
    -webkit-transition:all .4s linear;
    -o-transition:all .4s linear;
    transition:all .4s linear;
    z-index:1;
    cursor:pointer;
    width:200px
}
.input-group-btn{
    position:initial!important;
    font-size:0;
    white-space:nowrap
}
.over-left{
    margin-left:10px
}
.image-over{
    display:flex;
    flex-direction:column
}
.image-over .flex-row{
    display:flex;
    flex-direction:row;
    max-width:50%;
    min-height:15vh!important
}
.image-over .flex-row img{
    width:40%;
    height:100%
}
.image-over .over-left{
    display:block
}
.image-over .store{
    padding:0!important;
    margin-left:0!important;
    width:40%;
    height:90px;
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row
}
.image-over .right{
    position:absolute;
    margin-top:-12%;
    margin-left:35%!important
}
.image-over .over-left h3{
    width:44%!important
}
@media (max-width:1000px){
    .image-over{
        flex-direction:row
    }
    .image-over .over-left{
        display:flex;
        flex-direction:row;
        align-self:center;
        margin-left:auto
    }
    .image-over .right{
        position:relative;
        align-self:center
    }
    .image-over .flex-row img{
        width:100%
    }
    .image-over .block{
        display:flex
    }
    .image-over .over-left{
        display:block
    }
    .image-over .store{
        padding:0!important;
        margin-left:50px!important;
        width:100%;
        height:90px;
        display:-webkit-flex;
        display:flex;
        -webkit-flex-direction:row;
        flex-direction:row
    }
    .image-over .over-left h3{
        width:100%!important;
        margin-left:18%
    }
}
.plugs-main{
    margin:0 auto!important;
    display:flex;
    flex-direction:row;
    width:60%
}
.plugs{
    background-color:#f8f8f8
}
.plugs img{
    width:100%
}
.plugs p{
    font-family:"GothamRnd-Book",sans-serif;
    padding:30px;
    color:#c8c8c8
}
@media (max-width:1000px){
    .plugs-main{
        flex-direction:row;
        width:100%
    }
}
.section-title{
    text-align:center;
    margin:30px auto 75px
}
.section_title h1{
    font-size:36px;
    line-height:45px;
    font-family:"GothamRnd-Medium";
    color:#999;
    text-transform:uppercase;
    padding-bottom:25px
}
footer{
    background-color:#2a2a2a;
    color:#fff!important;
    font-family:"GothamRnd-Book"
}
.coluna,.footer{
    flex-direction:row
}
.footer{
    display:flex;
    align-items:center;
    justify-content:center
}
.footer h4{
    font-size:20px;
    margin-bottom:10%
}
.coluna{
    margin:100px
}
.footer-nav{
    margin-top:30%!important;
    font-size:15px
}
.footer .social{
    margin-left:7%
}
.outros-plugs {
    margin-top: 5%;
}
@media (min-width:1001px) and (max-width:1500px){
    .hero{
        min-height:120vh
    }
    .block .lista{
        width:60%
    }
    .cliente>.cliente-informacao{
        margin-top:-2%;
        width:40%;
        height:50%;
        margin-left:auto
    }
    .outros-plugs{
        margin-top:10%
    }
}
small {
    font-family: 'GothamRnd-Book', sans-serif;
}